---
import { Image } from "@astrojs/image/components";
const { title, description, link, image, date } = Astro.props;
---

<a href={link}>
  {image && <Image src={image} height="100px" alt={description} />}
  <div class="title-container">
    <h2>{title}</h2>
    <div class="title-underline"></div>
  </div>
  <p class="timestamp">{date}</p>
  <p>{description}</p>
</a>

<style>
  a {
    background-color: var(--background2);
    border-radius: 1rem;
    display: block;
    padding: 1rem;
    text-decoration: none;
    transition: transform ease 0.3s;
    will-change: transform;
  }
  a:hover {
    transform: scale(1.05);
  }

  h2 {
    margin-block: 0;
  }

  .title-container {
    position: relative;
  }
  .title-underline {
    background-image: linear-gradient(90deg, var(--primary), var(--secondary));
    border-radius: 0.125rem;
    bottom: -0.5rem;
    height: 0.25rem;
    position: absolute;
    transition: width cubic-bezier(0.6, 0, 0.4, 1) 1s;
    width: 3rem;
  }

  a:hover .title-underline {
    width: 100%;
  }

  .timestamp {
    font-style: italic;
    opacity: 0.8;
    margin-top: 0.6rem;
    margin-bottom: 0;
  }
  p {
    margin-top: 0.6rem;
    margin-bottom: 0;
  }
</style>
